[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "*"
ipython = "*"

[dev-packages]
black = "*"
'black[jupyter]' = "*"
flake8 = "*"
isort = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.11"
