[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "*"
ipython = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
pylint = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.11"
