[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"

[dev-packages]
black = "*"
'black[jupyter]' = "*"
flake8 = "*"
isort = "*"
jupyter = "*"
jupyter_contrib_nbextensions = "*"
jupyter_nbextensions_configurator = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
